html {
  height: 100vh;
}

body {
  background: linear-gradient(45deg,#3f87a6, #ebf8e1, #f69d3c);
  font-family: "Poppins", sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #440F5A;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

h1 {
  text-align: center;
  margin-bottom: 1.8rem;
}

.text-prompt {
  width: 100%;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

textarea {
  height: 5rem;
  margin-top: 6px;
  padding: 1rem;
  opacity: 0.8;
  font-size: 1.1rem;
  border: 1px solid gray;
  border-radius: 5px;
  resize: none;
}

.loading {
  font-size: medium;
  height: 1rem;
  margin-bottom: 6px;
}

.result-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-wrapper .source {
  margin-top: 6px;
  font-size: small;
}

.result-image {
  border: 1px solid gray;
  border-radius: 5px;
}

button {
  padding: 0.6rem 1rem;
  background-color: #2d6f8b;
  border: 2px solid #1b4658;
  border-radius: 5px;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: all 0.2s ease-in-out;
}

button:disabled {
  opacity: 0.7;
}

button:hover:enabled {
  background-color: #440F5A;
  border-color: #2b063b;
}

@media screen and (min-width: 600px) {
  .text-prompt {
    width: 60%;
  }
}

@media screen and (min-width: 768px) {
  .text-prompt {
    width: 40%;
  }
}
