$border-radius: 5px;
$border-color: gray;

$error-color: red;
$placeholder-color: #bdbdbd;
$disabled-color: #6d6d6d;
$disabled-background: #efefef4d;

$blue: #2d6f8b;
$darker-blue: #1b4658;
$purple: #440F5A;
$darker-purple: #2b063b;
